#header__clickable:hover, #header__clickable:focus {
    color: white;
    background-color: #6d6d6d;
}
li {
    display: inline;
}
body {
    background: #f7f7f7;
    font-family: Helvetica, Arial, sans-serif;
}
body header ul li {
    background-color: #f7f7f7;                 
}
body header ul li #header_clickable {
    background: #f7f7f7;
}
div #logo {
    background: #f7f7f7;
}
#Privacy:hover {
    color: black;
}
#Privacy {
    color: #aaa;
    font-size: 12px;
    padding: 0px 0px 5px 4px;
    letter-spacing: 0.3px;
}
#search
{
    clear: both;
    width: 100;
    text-align: center;
    margin: 0px 0px 50px 0px;
    padding: 0px 670px 0px 85px;
}
#search-box {
    background-color: white;
    border: 1px solid #c2b9b9;
    padding: 0px 220px 0px 180px;
    margin: 0px 999px 240px 0px;
    font: 16px arial,sans-serif;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    height: 2.8em;
    position: absolute;
}
    
#search-box:hover
{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}
#search-box:focus
{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}
#Mag {
    background-color: transparent;
    margin: 10px 0px 0px 555px;
    Padding: 0px 0px 0px 0px;
    position: absolute;
}
#logo
{
    clear: both;
    width: 100;
    text-align: center; 
    padding: 23px 60px 0px 0px;
    margin: 0px 8px 1px 49px;
    border: 0px 0px 0px 0px;
    vertical-align: baseline;
}
#top-right {
    position: relative;
    margin: 25px 7px 0px 1000px;
    padding: 0px 0px 0px 35px;
    color: #aaa;
}
#arrow-down {
    position: relative;
    margin: 0px 0px 3px 0px;
    padding: 0px 0px 0px 0px;
    color: #aaa;
}
#spread {
    text-align: center;
    margin: 74px 100px 1px 0px;
    padding: 0px 0px 0px 100px;
    color: #9a9a9a;
    font-family: helvetica, Arial, sans-serif;
    word-spacing: 1px;
    letter-spacing: 0.2px;
    font-size: 17px;
}
#twitter-icon {
    position: relative;
    margin: 0px 0px 0px 32px;
    padding: 0px 0px 0px 0px;
}
#twitter-icon:hover {
    color: white;
    background-color: #6d6d6d;
}
#header__clickable {
    margin: 7px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
    position: relative;
}
#arrow-down:hover {
    color: white;
    background-color: #6d6d6d;
}
#spread-link {
    color: #4495d4;
}
footer {
    margin: 31px 0px 10px 605px;
    padding: 0px 0px 10px 0px;
}